@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-color: #0b021a;


  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-color: #05050b; /* fallback */
  background-image: url("/bg-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
}

